flows (1).json
[
    {
        "id": "47e2892dae82de79",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "495fc8fae06da226",
        "type": "debug",
        "z": "47e2892dae82de79",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "2dab73c21d754a83",
        "type": "ui_slider",
        "z": "47e2892dae82de79",
        "name": "",
        "label": "envia angulo",
        "tooltip": "",
        "group": "31b9f97dccc837e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": "180",
        "className": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "495fc8fae06da226"
            ]
        ]
    },
    {
        "id": "c2bb1f5b99c202c1",
        "type": "mqtt in",
        "z": "47e2892dae82de79",
        "name": "",
        "topic": "pulseira/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "47503c62de35473b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "f1b7ce2b80c6ac6b"
            ]
        ]
    },
    {
        "id": "9663a1db975b7ac2",
        "type": "mqtt in",
        "z": "47e2892dae82de79",
        "name": "",
        "topic": "pulseira/batimento",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "47503c62de35473b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 280,
        "wires": [
            [
                "170e4f683aa1d048"
            ]
        ]
    },
    {
        "id": "8d4d4df6074d5820",
        "type": "mqtt in",
        "z": "47e2892dae82de79",
        "name": "",
        "topic": "pulseira/alerta",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "47503c62de35473b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 340,
        "wires": [
            [
                "73f2e7a06bc23483"
            ]
        ]
    },
    {
        "id": "a2bb263d393ce153",
        "type": "inject",
        "z": "47e2892dae82de79",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "timestamp",
        "payload": "",
        "payloadType": "num",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "0de25603dcf04319",
                "2e63144ff5106976",
                "700d8ef1270331e2"
            ]
        ]
    },
    {
        "id": "0de25603dcf04319",
        "type": "function",
        "z": "47e2892dae82de79",
        "name": "temperatura",
        "func": "msg.payload = (Math.random() * 3 + 36).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 420,
        "wires": [
            [
                "f1b7ce2b80c6ac6b"
            ]
        ]
    },
    {
        "id": "2e63144ff5106976",
        "type": "function",
        "z": "47e2892dae82de79",
        "name": "batimento",
        "func": "msg.payload = Math.floor(Math.random() * 70 + 60);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 480,
        "wires": [
            [
                "170e4f683aa1d048"
            ]
        ]
    },
    {
        "id": "700d8ef1270331e2",
        "type": "function",
        "z": "47e2892dae82de79",
        "name": "alerta",
        "func": "let valor = parseFloat(msg.payload);\n\nif (valor > 38.5 || valor > 120) {\n  msg.payload = \"SOBRECARGA DETECTADA\";\n} else {\n  msg.payload = \"NORMAL\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 540,
        "wires": [
            [
                "73f2e7a06bc23483",
                "79bc9b627b4f7b07"
            ]
        ]
    },
    {
        "id": "f1b7ce2b80c6ac6b",
        "type": "ui_chart",
        "z": "47e2892dae82de79",
        "name": "Temperatura",
        "group": "31b9f97dccc837e7",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "35",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "170e4f683aa1d048",
        "type": "ui_gauge",
        "z": "47e2892dae82de79",
        "name": "Batimento",
        "group": "31b9f97dccc837e7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "batimento",
        "label": "bpm",
        "format": "{{value}}",
        "min": "60",
        "max": "130",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 660,
        "y": 480,
        "wires": []
    },
    {
        "id": "73f2e7a06bc23483",
        "type": "ui_text",
        "z": "47e2892dae82de79",
        "group": "31b9f97dccc837e7",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Alerta",
        "label": "alerta",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "79bc9b627b4f7b07",
        "type": "mqtt out",
        "z": "47e2892dae82de79",
        "name": "",
        "topic": "pulseira/alerta",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "47503c62de35473b",
        "x": 720,
        "y": 620,
        "wires": []
    },
    {
        "id": "31b9f97dccc837e7",
        "type": "ui_group",
        "name": "pulseira inteligente",
        "tab": "fe68d36ce7b82390",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "47503c62de35473b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fe68d36ce7b82390",
        "type": "ui_tab",
        "name": "alerta",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a52d2b96b34f6a41",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]